.top-container {
  display: flex;
  flex-direction: column;
  font-family: Oxygen, sans-serif;
  align-items: center;
  background-color: #4f5355;
  height: 100%;
  width: 100%;

  .title {
    color: rgb(199, 230, 77);
    font-size: 30px;
    margin-top: 6px;
  }
}

.weather-container {
  margin-top: 1.2em;
  color: rgb(160, 135, 135);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(39, 213, 236);
    margin: 10px 0;
    align-items: center;

    .current-weather {
      height: fit-content;
      font-size: 28px;
    }

    .image {
      width: 4em;
      height: 4em;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
  }
}

.btn-select-location {
  background-color: rgb(141, 139, 139);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  border-radius: 5px;
  color: #222;
}
